[submodule "Template4Keil/SRML"]
	path = Template4Keil/SRML
	url = https://git.scutbot.cn/Embedded/SRML.git
	branch = stm32cubeide
[submodule "Template4MSVC_WIN32/SRML"]
	path = Template4MSVC_WIN32/SRML
	url = https://git.scutbot.cn/Embedded/SRML.git
	branch = stm32cubeide
